/*
THIS CSS FILE IS DEPENDED ON BY OTHER HTMLS, ANY CHANGE TO THIS FILE IS
STRICTLY FORBIDDEN, PLEASE CREATE A NEW ONE
*/

#pathway-selection {
    padding-left: 1.5vw;
    width: 13.5vw;
}

#pathway-selection-content {
    width: 12vw;
}

#selected-pathway {
    padding-left: 3.5vw;
    padding-top: 1vw;
}

#pathway-input-title {
    padding-top: 2vw;
    padding-left: 1.5vw;
    font-size: 1.5vw;
    line-height: 1.2;
    padding-bottom: 1.25vw;
}

#pathway-textbox {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    caret-color: #3478F6;
    font-size: 1.25vw;
    border-radius: 0.75vw;
    border: 0.15vw solid #686868;
    padding-left: 0.5vw;
    padding-top: 0.5vw;
    padding-right: 0;
    padding-bottom: 0.5vw;
    background-color: inherit;
    color: inherit;
}

#pathway-textbox::-webkit-scrollbar {
    width: 1vw; /* Adjust the width of the scrollbar */
    background: transparent; /* Make the scrollbar background transparent */
    border-radius: 1vw;
}

#pathway-textbox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the color and transparency of the scrollbar thumb */
    border-radius: 1vw; /* Make sure the scrollbar thumb respects the border radius */
    border: 0.3vw solid transparent; /* Add transparent border to create space around the thumb */
    background-clip: content-box; /* Ensure the border does not overlap the thumb */
}

#pathway-textbox::-webkit-scrollbar-track {
    background: transparent; /* Make the scrollbar track transparent */
    border-radius: 1vw; /* Make sure the scrollbar track respects the border radius */
}

#pathway-textbox::placeholder {
    color: #999;
}

#launch {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0.75vw;
    height: 3.5vw;
    line-height: 3.5vw;
    font-size: 1.5vw;
    margin-left: 3vw;
    width: 10vw;
    background-color: #0037fe;
    color: #fff;
    align-self: flex-start;
    margin-top: 12vw;
}

#input-msg {
    width: 14vw;
    height: 5vw;
    font-size: 1.5vw;
    /* background-color: yellow; */
    text-align: center;
}

#launch:hover {
    cursor: pointer;
    background-color: #2252ff;
}

#launch:active {
    background-color: #3c65f9;
}

#error-msg {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#results {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 20vw;
}

#empty1 {
    width: 10%;
    height: 100%;
}

#empty2 {
    width: 30%;
    height: 100%;
}

#middle {
    width: 60%;
    height: 100%;
}

#middle-img {
    width: 100%;
}